<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Pedal's Up | Cycles on Rent</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
  
    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
    
    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <img class="navbar-brand" src="/images/logo-c3ee51c56fd879ef9e2a50c4c0d7b303.png" href="/index.html" style="height: 100px;width: 250px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarsExample05">
              <ul class="navbar-nav pl-md-5 ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about.html">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="bikes" id="dropdown04" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Bikes</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                      <a class="dropdown-item" href="bikes">MTB</a>
                      <a class="dropdown-item" href="bikes">Hybrid</a>
                      <a class="dropdown-item" href="bikes">Road Bike</a>
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Contact</a>
                </li>
              </ul>
  
              <div class="navbar-nav ml-auto dropdown">
                <!-- <select>
                  <option class="form-control" disabled selected value ="0">Sign In/Sign Up</option>
                  <a href="customer">As Customer</a>
                  <option class="form-control" href="admin">As Admin</option>
                </select> -->
                <a class="nav-link dropdown-toggle" href="" id="dropdown04" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Sign In</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="customer">As Customer</a>
                <a class="dropdown-item" href="admin">As Admin</a>
              </div>
                </div>
              
            </div>
          </div>
        </nav>
      </header>