<% include partials/header %>

<div class="inner-page">
    <div class="slider-item" style="background-image: url('/images/josh-nuttall-uNQ-TTg_qNY-unsplash.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
            <div class="col-lg-9 text-center col-sm-12 element-animate">
                <h1 class="mb-4"><span>Path to Enhanced Cycling</span></h1>
            </div>
            </div>
        </div>
    </div>

    <div class="feature-1 d-md-flex">
        <div class="m-auto">
            <span class="flaticon-chakra-1 display-4 text-primary align-items-center"></span>
            <h3 class="align-items-center">Your booking id is: </h3>
            <%= uniquid %>
        </div>
    </div>

</div>

<% include partials/footer %>
